In [1]:
# Dependency
import pandas as pd

# File to load
vine_review = "Resources/vine_table.csv"

# Read data and store into a pandas df
vine_table_df = pd.read_csv(vine_review)
vine_table_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3DT59XH7HXR9K,5.0,0.0,0.0,N,Y
1,R1LFS11BNASSU8,5.0,0.0,1.0,N,Y
2,R296RT05AG0AF6,5.0,0.0,0.0,N,Y
3,R3V37XDZ7ZCI3L,5.0,0.0,1.0,N,Y
4,R14GU232NQFYX2,5.0,0.0,0.0,N,Y
5,RZQH4V7L2O1PL,1.0,1.0,1.0,N,Y
6,R1F8JMOSPJ3KO7,5.0,0.0,0.0,N,Y
7,R1ZISGY2BWW4Z5,5.0,0.0,0.0,N,Y
8,R17PW4I3AE5WZW,5.0,0.0,0.0,N,Y
9,R3D93G1KTP6A8P,3.0,0.0,0.0,N,Y

In [2]:
total_votes_df = vine_table_df[vine_table_df["total_votes"] >= 20]
total_votes_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
18,R28RB82UG4RDD5,5.0,20.0,20.0,N,Y
233,R3FB6BERWPEIJP,4.0,40.0,43.0,N,Y
615,R1D4Z38STRDQXK,5.0,53.0,56.0,N,Y
1065,R1XMWJZICINIFX,3.0,20.0,21.0,N,Y
1105,R20QKY1GABXFLM,1.0,272.0,297.0,N,Y
1434,R3GZ7CK2O1PPG0,2.0,10.0,30.0,N,Y
1504,R328FA1E6FY3F5,5.0,17.0,20.0,N,N
1538,R3DH22AA5WGLLS,5.0,30.0,30.0,N,N
1713,R1E0E5EFZSLJCS,1.0,66.0,80.0,N,Y
1999,R1TXZQWEHYWEWN,2.0,48.0,51.0,N,Y

In [3]:
filtered_votes_df = total_votes_df[total_votes_df["helpful_votes"]/total_votes_df["total_votes"] >= 0.5]
filtered_votes_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
18,R28RB82UG4RDD5,5.0,20.0,20.0,N,Y
233,R3FB6BERWPEIJP,4.0,40.0,43.0,N,Y
615,R1D4Z38STRDQXK,5.0,53.0,56.0,N,Y
1065,R1XMWJZICINIFX,3.0,20.0,21.0,N,Y
1105,R20QKY1GABXFLM,1.0,272.0,297.0,N,Y
1504,R328FA1E6FY3F5,5.0,17.0,20.0,N,N
1538,R3DH22AA5WGLLS,5.0,30.0,30.0,N,N
1713,R1E0E5EFZSLJCS,1.0,66.0,80.0,N,Y
1999,R1TXZQWEHYWEWN,2.0,48.0,51.0,N,Y
2003,RQQAI8YL3UCY2,5.0,23.0,25.0,N,Y

In [4]:
paid_vine_df = filtered_votes_df[filtered_votes_df["vine"] == "Y"]
paid_vine_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
13470,R1Z71RW4J9IK93,5.0,20.0,22.0,Y,N
18140,R3FVB5QI11KI9Q,4.0,192.0,200.0,Y,N
20156,R2G027YBMVXV6Y,5.0,39.0,48.0,Y,N
26393,R1QGBAN7BMGWRR,5.0,121.0,129.0,Y,N
28369,R2NH2AU7XL9ZDZ,3.0,18.0,20.0,Y,N
57508,R2YVVJ9NOPNX50,4.0,36.0,41.0,Y,N
61914,R1XH1LK1FWX3OS,4.0,214.0,238.0,Y,N
61965,R38LSQ71G2IZGS,5.0,26.0,29.0,Y,N
82515,R2FLITQVKWXDF4,3.0,26.0,34.0,Y,N
96001,R25LMMZF3DJTWY,2.0,18.0,21.0,Y,N

In [5]:
unpaid_vine_df = filtered_votes_df[filtered_votes_df["vine"] == "N"]
unpaid_vine_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
18,R28RB82UG4RDD5,5.0,20.0,20.0,N,Y
233,R3FB6BERWPEIJP,4.0,40.0,43.0,N,Y
615,R1D4Z38STRDQXK,5.0,53.0,56.0,N,Y
1065,R1XMWJZICINIFX,3.0,20.0,21.0,N,Y
1105,R20QKY1GABXFLM,1.0,272.0,297.0,N,Y
1504,R328FA1E6FY3F5,5.0,17.0,20.0,N,N
1538,R3DH22AA5WGLLS,5.0,30.0,30.0,N,N
1713,R1E0E5EFZSLJCS,1.0,66.0,80.0,N,Y
1999,R1TXZQWEHYWEWN,2.0,48.0,51.0,N,Y
2003,RQQAI8YL3UCY2,5.0,23.0,25.0,N,Y

In [6]:
# Total number of reviews for paid (Vine program)
paid_num_reviews = len(paid_vine_df.index)
paid_num_reviews

1207

In [7]:
# Total number of reviews for unpaid
unpaid_num_reviews = len(unpaid_vine_df.index)
unpaid_num_reviews

97839

In [8]:
# Total number of 5-star reviews for paid (Vine program)
paid_five_star = paid_vine_df[paid_vine_df["star_rating"] == 5.0].count()["review_id"]
paid_five_star

509

In [9]:
# Total number of 5-star reviews for unpaid
unpaid_five_star = unpaid_vine_df[unpaid_vine_df["star_rating"] == 5.0].count()["review_id"]
unpaid_five_star

45858

In [10]:
# percentage of 5-star reviews for paid (Vine program)
paid_five_star/paid_num_reviews

0.4217067108533554

In [11]:
# percentage of 5-star reviews for unpaid
unpaid_five_star/unpaid_num_reviews

0.46870879710544877